{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    {% block main_styles %}
        <link rel='stylesheet' href='{% static "todos/css/stylesheet.css" %}'>
    {% endblock main_styles %}
    {% block extra_styles %}{% endblock extra_styles %}
    {% block js_head %}{% endblock js_head %}
</head>
<body>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">HOMEPAGE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Adaptive Programs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Claims Process</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Disability Compensation and Pensions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Employment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Homelessness and Emergency</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Housing and Property Tax</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">IDs/DMV Plates/Records</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Justice-Involved Veterans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Long-Term Care</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Medical and Mental Health Care</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Oregon Veterans' Homes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Recreation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Special Advocacy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Specialty Care</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Survivor and Family Benefits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Transportation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Trauma</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Veteran Owned Businesses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Working With a Veteran Service Officer</a>
    </li>
  </ul>
    {% block content %}{% endblock content %}
    {% block js_body %}{% endblock js_body %}
</body>
</html>
